In [1]:
import pandas as pd

df = pd.read_feather('rank_data.feather')
df

,index,dt,shop_tag_15_rank,shop_tag_19_rank,shop_tag_2_rank,shop_tag_26_rank,shop_tag_34_rank,shop_tag_35_rank,shop_tag_36_rank,shop_tag_37_rank,...,shop_tag_27_rank_t-2,shop_tag_27_rank_t-3,shop_tag_27_rank_t-4,shop_tag_27_rank_t-5,shop_tag_27_rank_t-6,shop_tag_27_rank_t-7,shop_tag_27_rank_t-8,shop_tag_27_rank_t-9,shop_tag_27_rank_t-10,shop_tag_27_rank_t-11
0,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,1.0,1.0,1.0,1.0,50.0,1.0,1.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3.0,1.0,1.0,1.0,1.0,50.0,1.0,1.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72019,19,20.0,49.0,1.0,50.0,1.0,NaN,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72020,20,21.0,45.0,43.0,49.0,1.0,NaN,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72021,21,22.0,47.0,49.0,50.0,41.0,NaN,NaN,NaN,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72022,22,23.0,49.0,1.0,50.0,41.0,NaN,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72023,23,24.0,45.0,43.0,50.0,1.0,NaN,NaN,NaN,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
col = list(set(df.columns) - set(df.columns[df.columns.str.contains('shop_tag')]))

In [3]:
df[col]

,naty,top2,cuorg,gender_code,primary_card,index,top3,masts,trdtp,educd,top5,slam,chid,age,dt,poscd,top4,top1
0,1.0,50,30.0,1.0,1.0,0,45,1.0,5.0,4.0,6,95982.822967,10321418.0,4.0,1.0,99.0,45,37
1,1.0,37,30.0,1.0,1.0,1,45,1.0,5.0,4.0,6,95982.822967,10321418.0,4.0,2.0,99.0,45,34
2,1.0,50,30.0,1.0,1.0,2,37,1.0,5.0,4.0,45,95982.822967,10321418.0,4.0,3.0,99.0,45,34
3,1.0,45,30.0,1.0,1.0,3,45,1.0,5.0,4.0,50,95982.822967,10321418.0,4.0,4.0,99.0,6,37
4,1.0,45,30.0,1.0,1.0,4,45,1.0,5.0,4.0,50,95982.822967,10321418.0,4.0,5.0,99.0,6,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72019,1.0,15,30.0,0.0,1.0,19,12,1.0,12.0,5.0,37,87397.101503,10158995.0,5.0,20.0,1.0,25,2
72020,1.0,2,30.0,0.0,1.0,20,37,1.0,12.0,5.0,12,87397.101503,10158995.0,5.0,21.0,1.0,10,24
72021,1.0,19,30.0,0.0,1.0,21,10,1.0,12.0,5.0,12,87397.101503,10158995.0,5.0,22.0,1.0,15,2
72022,1.0,15,30.0,0.0,1.0,22,25,1.0,12.0,5.0,37,87397.101503,10158995.0,5.0,23.0,1.0,12,2
72023,1.0,12,30.0,0.0,1.0,23,21,1.0,12.0,5.0,37,87397.101503,10158995.0,5.0,24.0,1.0,22,2

In [4]:
df.columns[df.columns.str.contains('shop_tag_22')]

Index(['shop_tag_22_rank', 'shop_tag_22_rank_t-1', 'shop_tag_22_rank_t-2',
       'shop_tag_22_rank_t-3', 'shop_tag_22_rank_t-4', 'shop_tag_22_rank_t-5',
       'shop_tag_22_rank_t-6', 'shop_tag_22_rank_t-7', 'shop_tag_22_rank_t-8',
       'shop_tag_22_rank_t-9', 'shop_tag_22_rank_t-10',
       'shop_tag_22_rank_t-11'],
      dtype='object')

In [5]:
for i in range(1,6):
    print(i,df[f'top{i}'].nunique(),sorted([i for i in df[f'top{i}'].unique()]))

1 49 ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '5', '50', '6', '7', '8', '9']
2 50 ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '5', '50', '6', '7', '8', '9', 'nan']
3 50 ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '5', '50', '6', '7', '8', '9', 'nan']
4 50 ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '5', '50', '6', '7', '8', '9', 'nan']
5 50 ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '5', '50', '6', '7', '8', '9', 'nan']

In [6]:
constant_col = ['masts','primary_card','poscd','gender_code']
df[constant_col].describe()

              masts  primary_card         poscd   gender_code
count  72024.000000  72024.000000  72024.000000  71256.000000
mean       1.446185      0.925358     39.746751      0.442573
std        0.499106      0.262814     46.730314      0.496695
min        1.000000      0.000000      1.000000      0.000000
25%        1.000000      1.000000      2.000000      0.000000
50%        1.000000      1.000000      4.000000      0.000000
75%        2.000000      1.000000     99.000000      1.000000
max        3.000000      1.000000     99.000000      1.000000